.idea
.DS_Store
*.iml
russell/target
visualization/plots
MySqlCred.json
*.pyc
*.png
rng.py
russell/spark-warehouse/0021500495.csv
russell/spark-warehouse/0021500513.csv
russell/spark-warehouse/0021500528.csv
russell/spark-warehouse/0021500537.csv
*.csv
